.item{
    width: 200px;
    height: 200px;
    background: red;
    border: 2px solid black;
    position: absolute;
 }
 /* font-family: 'Open Sans', sans-serif; */
 
 /* Common Css Start */
 *{
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
 }
 body{
    font-family: 'Open Sans', sans-serif;
 }
 a{
    text-decoration: none;
 }
 ul{
    list-style-type: none;
 }
 .container{
    width: 1170px;
    margin: 0 auto;
 }
 .row{
    display: flex;
    flex-wrap: wrap;
 }
 /* //Common Css End */
 
 /* Nav Section Css Start */
 nav{
    background-color: #02918b;
    text-align: justify;
 }
 nav div.row{
    align-items: center;
 }
 nav .logo{
    width: 15%;
 }
 nav .menu{
    width: 75%;
 }
 nav .menu ul{
    justify-content: flex-end;
 }
 nav .menu ul li a{
    font-size: 12px;
    font-weight: 800;
    color: #ffffff;
    text-transform: uppercase;
    padding: 26px 25px;
    display: inline-block;
    transition: .6s;
 }
 nav .menu ul li a:hover,
 nav .menu ul li a.active{
    color: #0b1016;
    background: #cfc91d;
 }
 /* //Nav Section Css End */
 
 /* Banner Section Css Start */
 #banner{
    background-image: url(../img/banner_bg.jpg);
    background-size: cover;
    height: 728px;
    text-align: center;
    position: relative;
    z-index: 1;
 }
 #banner::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: black;
    left: 0px;
    top:0;
    z-index: -1;
    opacity: 0.7;
 }
 #banner .container{
    margin: auto;
 }
 #banner h3{
    font-size: 30px;
    font-weight: 400;
    color: #fff;
 }
 #banner h1{
    font-size: 68px;
    font-weight: 800;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 30px;
 }
 #banner p{
    font-size: 18px;
    color: #fff;
 }
 #banner img{
    display: block;
    margin: 52px auto;
 }
 #banner a{
    font-size: 14px;
    font-weight: 800;
    text-transform: uppercase;
    color: #0b1016;
    letter-spacing: 3px;
    background-color: #cfc91d;
    padding: 19px 42px;
 }
 /* //Banner Section Css End */
 
 /* About Section Css Start */
 #about{
    text-align: center;
    padding: 98px 0;
 }
 #about .section_info h2{
    font-size: 46px;
    font-weight: 800;
    text-transform: uppercase;
    color: #02918c;
 }
 #about .section_info p{
    font-size: 16px;
    color: #7e8287;
    width: 880px;
    margin: 0 auto;
 }
 #about .section_info p b{
    font-size: 23px;
    font-weight: 800;
 }
 #about .about_item{
    width: 25%;
    border-right: 1px solid #7e8287;
    padding: 50px 60px;
    margin-top: 50px;
 }
 #about .about_item:last-child{
    border: none;
 }
 #about .about_item h5{
    font-size: 16px;
    font-weight: 800;
    color: #7e8287;
    margin: 28px 0;
 }
 #about .about_item p{
    font-size: 11px;
    color: #7e8287;
 }
 /* //About Section Css End */